/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

.main_div {
  position:relative;
  height:460px;
  width:778px;
  border-width:2px; border-style:solid;
}

#map {
  height: 600px;
    width: 600px;
}
.biggest {font-size: 32px;}
.biggest-bold {font-size: 32px; font-weight: bold;}
.bigger {font-size: 24px;}
.bigger-bold {font-size: 24px; font-weight: bold;}
.big {font-size: 20px;}
.big-bold {font-size: 20px; font-weight: bold;}
.normal {font-size: 18px;}

.grid-1 {display: grid;
  grid-template-columns: 258px 258px 258px;
  grid-template-rows: auto auto auto;
}

/* 2 columns for current obs + graph */
.grid-2 {display: grid;
  grid-template-columns: 250px 530pc;
  gap: 5px;
  grid-template-rows: auto auto auto;
}

.grid-2-c1 {
  grid-column: 1;
}

.grid-2-c2 {
  grid-column: 2;
  grid-row: 1 / 4;
}

