<!-- construct a DIV that displays hourly forecast -->
<div style="display:inline-block; padding:2px;">
    <div style="float:left; vertical-align:top; padding-left: 2px; padding-right:3px;">
        {{ time }}<br>
        <img alt="{{ weather_icon }}" src="http://openweathermap.org/img/wn/{{ weather_icon }}.png" style="vertical-align:top;">
    </div>
    <div class="normal" style="float:left; vertical-align:top;">
        <div>
            {{ weather_description }}<br>
            T: {{ temp }}, H: {{ humidity }}
            <br>
            Wind:{{ wind_speed }}-{{ wind_compass }}
            {% if pop %}
                <br>Rain: {{ pop }}
            {% endif %}
        </div>
    </div>
</div>