<!-- construct a DIV that displays daily forecast -->
<div>
    <div class="bigger" style="display:inline-block;vertical-align:top; padding-left: 10px; padding-right:10px;">
        {{ day_name }}
    </div>
    <div class="normal" style="display:inline-block; vertical-align:top; padding-left: 10px; padding-right: 10px;">

    <img alt="{{ weather_icon }}" src="http://openweathermap.org/img/wn/{{ weather_icon }}.png" style="vertical-align:top;">
        <div style="display:inline-block;">
            {{ weather_description }}<br>Sunrise: {{ sunrise }}<br>Sunset: {{ sunset }}<br>
            T: {{ temp_max }}/{{ temp_min }}, H: {{ humidity }}
            <br>
            Wind: {{ wind_speed }}, {{ wind_compass }}
            {% if pop %}
                <br>Chance of Rain: {{ pop }}
            {% endif %}
        </div>
    </div>
</div>