<!-- construct a DIV that displays daily forecast -->
<div style="padding:5px;">
    <div class="bigger" style="float:left;vertical-align:top; padding-right: 10px;">
        {{ day_name }}<br>
        <img alt="{{ weather_icon }}" src="http://openweathermap.org/img/wn/{{ weather_icon }}.png" style="vertical-align:top;">
    </div>
    <div class="normal" style="float:left; vertical-align:top;">
        <div>
            {{ weather_description }}<br>Sunrise: {{ sunrise }}<br>Sunset: {{ sunset }}<br>
            T: {{ temp_max }}/{{ temp_min }}, H: {{ humidity }}
            <br>
            Wind: {{ wind_speed }}, {{ wind_compass }}
            {% if pop %}
                <br>Chance of Rain: {{ pop }}
            {% endif %}
        </div>
    </div>
</div>