<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wx Current</title>
    <style>
    img { border: 2px solid; }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
<div style="width:800px;height:480px; border-width: 2px; border-style: solid;">
<h2>{{ heading }}</h2>
<p class="bigger">
{{ day_name }},
{{ time }}
</p>
<div>
<div style="display:inline-block;vertical-align:top; padding-left: 10px; padding-right:10px;">
{{ weather_description }}<br>
<img alt="{{ weather_icon }}" src="http://openweathermap.org/img/wn/{{ weather_icon }}.png" >

</div>
<div class="big" style="display:inline-block; vertical-align:top; padding-left: 10px; padding-right: 10px;">
Sunrise: {{ sunrise }}<br>Sunset: {{ sunset }}<br>
T: {{ temp }}, H: {{ humidity }}
<br>
Wind: {{ wind_speed }}, {{ wind_compass }} ({{ wind_deg }})
</div>
<div style="background-color: beige; display:inline-block; padding-left: 10px; padding-right: 10px;">
    <img alt="single" style="height:300px;" src="static/images/MUX_20190519_0446_N0R.gif">
</div>
</div>
</div>
</body>
</html>