<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wx Current</title>
    <style>
    img { border: 2px solid; }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
<div class="main_div">
<h2>{{ heading }}
    {% if home_name %}
    at {{ home_name }}
    {% endif %}
</h2>
<p class="bigger">
{{ day_name }},
{{ time }}
</p>
<div>
<div style="display:inline-block;vertical-align:top; padding-left: 10px; padding-right:10px;">
{{ weather_description }}<br>
<img alt="{{ weather_icon }}" src="http://openweathermap.org/img/wn/{{ weather_icon }}.png" >

</div>
<div class="big" style="background-color: beige; display:inline-block; vertical-align:top; padding-left: 6px; padding-right: 6px; margin-right:8px;border-width:1px; border-style:solid;">
Sunrise: {{ sunrise }}<br>Sunset: {{ sunset }}<br>
T: {{ temp }}, H: {{ humidity }}
    <br>Feels Like: {{ feels_like }}
<br>
Wind: {{ wind_speed }}, {{ wind_compass }} ({{ wind_deg }})
<br>UV Index: {{ uv_index }}
</div>
<div class="big" style="background-color: beige; display:inline-block; padding-left: 6px; padding-right: 6px; margin-right:8px;border-width:1px; border-style:solid;">
    Time: {{ time_sens }}<br>Air Quality: {{ pm2_5_sens }}<br>Temp: {{ temp_c_sens }}<br>Humidity: {{ humidity_sens }}
</div>
</div>
    <div id="page_links" style="position:absolute; bottom:5px; right:10px;">
        {{ buttons }}
    </div>

</div>
</body>
</html>